<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add new product</title>
    <link rel="stylesheet" href="main.css">
</head>
<body>
  <form action="add_product" method="POST">
  <p>Item: <input type="text" name="item" id=""> </p>
  <p>Item number: <input type="number" name="item_number" id=""> </p>
  <p>price: <input type="number" name="price" id=""> </p>
  <p><input type="submit"></p>
  </form>  
</body>
</html>